@font-face {
    font-family: 'Source Sans Pro';
    src: url('../fonts/source-sans-pro/SourceSansPro-Regular.otf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body {
    margin: 0;
    font-family: 'Source Sans Pro', sans-serif;
    max-width: 1440px;
    margin: auto;
}

header {
    position: absolute;
    padding: 20px 50px;
    width: calc(100% - 160px);
}

header .logo {
    width: 160px;
}

header nav {
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
}

header nav ul {
    list-style: none;
    display: flex;
    gap: 40px;
    margin: 0;
    padding: 0;
}

header nav ul li {
    font-size: 18px;
    font-weight: 600;
}

header nav ul li a {
    text-decoration: none;
    color: white;
    font-weight: 600;
}

.main-part {
    background-image: url('../images/Object.png');
    background-repeat: no-repeat;
    text-align: center;
    color: white;
    display: flex;
    flex-direction: column;
}

.main-part .top {
    flex-direction: row;
    flex: 1;
}

.main-part .top h1 {
    font-size: 120px;
    font-weight: 800;
    margin-bottom: 0;
    padding-top: 100px;
}

.main-part .top div {
    display: flex;
    justify-content: space-between;
    width: 250px;
    margin: auto;
    font-size: 24px;
    font-weight: 600;
    margin-top: 10px;
}

.main-part .top button {
    display: block;
    width: 162px;
    height: 44px;
    background-color: #C271FF;
    color: white;
    font-weight: 600;
    margin: auto;
    border-radius: 30px;
    border: none;
    margin-top: 30px;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.4);
}

.main-part .bottom {
    display: flex;
    flex-direction: column;
    margin-top: 90px;
    margin-bottom: 90px;
}

.main-part .bottom h2 {
    font-size: 32px;
    font-weight: 400;
    margin-bottom: 50px;
}

.main-part .bottom h2 span {
    color: #C271FF;
    font-weight: 800;
}

.main-part .bottom .pros {
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin: auto;
}

.main-part .bottom .pros div {
    text-align: center;
}

.main-part .bottom .pros img {
    border-radius: 50%;
    width: 120px;
}


.testimonials {
    background-color: #C271FF;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 60px 340px;
    color: white;
}

.testimonials>div {
    display: flex;
    width: 943px;
    gap: 40px;
}

.testimonials div blockquote {
    width: 730px;
    font-size: 22px;
    font-weight: 300;
    margin: 0;
    padding: 10px;
}

.testimonials div img {
    width: 160px;
}

.testimonials div p {
    font-style: italic;
}

.tutorials {
    display: flex;
    flex-direction: column;
    padding: 80px 100px;
    align-items: center;
}

.tutorials h2 {
    font-size: 36px;
    font-weight: 400;
    margin-bottom: 60px;
}

.tutorials h2 span {
    color: #C271FF;
    font-weight: 800;
}

.tutorials>div {
    display: flex;
    gap: 40px;
    max-width: 1228px;
}

.tutorials .item {
    display: flex;
    position: relative;
    flex-direction: column;
    width: 290px;
}

.tutorials .item img.thumbnail {
    width: 255px;
    height: 154px;
    object-fit: cover;
}

.tutorials .item .details {
    padding: 10px 20px;
}

.tutorials .item h3 {
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 0;
}

.tutorials .item p.description {
    font-size: 14px;
    color: #071629;
    opacity: 0.51;
    line-height: 24px;
}

.tutorials .item .author {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 15px;
}

.tutorials .item .author img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
}

.tutorials .item .author h4 {
    font-size: 14px;
    font-weight: 600;
    margin: 0;
    color: #C271FF;
}

.tutorials .item .rating {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin-top: 10px;
    color: #C271FF;
    width: 107px;
    float: left;
}

.tutorials .item .rating div:last-child {
    color: #d8d8d8;
}

.tutorials .item .info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.tutorials .item .info p {
    font-size: 14px;
    color: #C271FF;
    font-weight: 600;
}

.tutorials .item .play-button {
    position: absolute;
    top: 45px;
    left: 96px;
}

.tutorials .item .play-button img {
    width: 64px;
    height: 64px;
    opacity: 0.8;
}

.membership {
    background-color: #071629;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 80px 100px;
}

.membership h2 {
    font-size: 32px;
    font-weight: 400;
    margin-bottom: 20px;
}

.membership h2 span {
    color: #C271FF;
    font-weight: 800;
}

.membership>div {
    display: flex;
    gap: 40px;
    padding: 60px;
}

.membership>div div {
    text-align: center;
}

.membership button {
    display: block;
    width: 200px;
    height: 50px;
    background-color: #C271FF;
    color: white;
    font-weight: 600;
    margin: auto;
    border-radius: 30px;
    border: none;
    margin-top: 30px;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.4);
}

.faq {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 100px;
}

.faq h2 {
    font-size: 60px;
    font-weight: 400;
    margin-bottom: 0;
}

.faq>div {
    display: flex;
    gap: 50px;
    padding: 10px;
}

.faq>div div {
    margin-bottom: 40px;
    padding: 0 50px;
}

.faq>div div h3 {
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 40px;
}

.faq>div div .ans {
    font-size: 14px;
    color: #071629;
    opacity: 0.5;
    line-height: 24px;
}

footer {
    background-color: #071629;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 249px;
    font-size: 14px;
    font-weight: 400;
}

footer section {
    display: flex;
    flex-direction: column;
    gap: 120px;
    width: 70%;
    text-align: center;
}

footer section div {
    display: flex;
    justify-content: space-between;
    gap: 15px;
}

footer section .social {
    display: flex;
    gap: 20px;
}